:root {
        --ic-brand-primary-darkened-5: #001850;
--ic-brand-primary-darkened-10: #00174C;
--ic-brand-primary-darkened-15: #001648;
--ic-brand-primary-lightened-5: #0C245C;
--ic-brand-primary-lightened-10: #193065;
--ic-brand-primary-lightened-15: #263B6D;
--ic-brand-button--primary-bgd-darkened-5: #001850;
--ic-brand-button--primary-bgd-darkened-15: #001648;
--ic-brand-button--secondary-bgd-darkened-5: #41AA66;
--ic-brand-button--secondary-bgd-darkened-15: #3A985B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #2D72A8;
--ic-link-color-lightened-10: #468AC0;
--ic-brand-primary: #001954;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #327eba;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #44b26b;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #001954;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #001954;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #001954;
--ic-brand-header-image: url('https://online.igti.com.br/accounts/1/files/244985/download?verifier=mIiQiDydE2QEb7p6Wt3Oct6s34pDOnuLHG9HAJxB');
--ic-brand-mobile-global-nav-logo: url('https://online.igti.com.br/accounts/1/files/244986/download?verifier=5QmFGFbrIsC94EEF17prd6N6Ci1YIzEGRloI6uMt');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://online.igti.com.br/accounts/1/files/244987/download?verifier=jf2CNN3f65vsisHp33VBeAVAD8yy4C4thBpa0L4J');
--ic-brand-apple-touch-icon: url('https://online.igti.com.br/accounts/1/files/142/download?verifier=0dHNXajho6jakp1ukg4xfIMjsfoz5oC7vYH4aC8G');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://online.igti.com.br/accounts/1/files/244988/download?verifier=2NstQJpNREH2R7thPg8aO9nMWf73NJZqNPw5UYtq');
--ic-brand-msapplication-tile-wide: url('https://online.igti.com.br/accounts/1/files/244989/download?verifier=LQ7m3l1i5AMUaP2DsUfyVSrJlTwUStETMwRc5twV');
--ic-brand-right-sidebar-logo: url('https://online.igti.com.br/accounts/1/files/244990/download?verifier=q0tUkZzFuJAjZi4CeRxInXY49GyzqKM0dYPMXZv5');
--ic-brand-Login-body-bgd-color: #00afa2;
--ic-brand-Login-body-bgd-image: url('https://online.igti.com.br/accounts/1/files/244483/download?verifier=lZJX7qHUzhWfgPPZHmqP508vVbEMcwGSi5Eos0xB');
--ic-brand-Login-body-bgd-shadow-color: #ffffff;
--ic-brand-Login-logo: url('https://online.igti.com.br/accounts/1/files/244488/download?verifier=Db9EP6YATHIVoOYbSqMIjwtp3UW3IwWXItnunaIR');
--ic-brand-Login-Content-bgd-color: #f2f2f2;
--ic-brand-Login-Content-border-color: #f2f2f2;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #535050;
--ic-brand-Login-Content-password-text-color: #535050;
--ic-brand-Login-footer-link-color: #535050;
--ic-brand-Login-footer-link-color-hover: #f2f2f2;
--ic-brand-Login-instructure-logo: #F2F2F2;
      }